<h1>Show Expense</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @expense.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @expense.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.expense_path(@conn, :edit, @expense) %></span>
<span><%= link "Back", to: Routes.expense_path(@conn, :index) %></span>
